{% extends 'entidades/index.html' %}


{% block titulo %}
<h1>Estos son nuestros Productos</h1>
{% endblock titulo %}


{% block contenido %}
<ul>
    <li>
        <strong>Producto:</strong> Botellas<br>
        <strong>Precio:</strong> $120.00<br>
        <strong>Stock:</strong> 100 unidades
    </li>
    <li>
        <strong>Producto:</strong> Auris<br>
        <strong>Precio:</strong> $800.00<br>
        <strong>Stock:</strong> 25 unidades
    </li>
    <li>
        <strong>Producto:</strong> Legos<br>
        <strong>Precio:</strong> $1500.00<br>
        <strong>Stock:</strong> 80 unidades
    </li>
    <li>
        <strong>Producto:</strong> Cafetera<br>
        <strong>Precio:</strong> $100.00<br>
        <strong>Stock:</strong> 15 unidades
    </li>
    <li>
        <strong>Producto:</strong> Pelota<br>
        <strong>Precio:</strong> $45.00<br>
        <strong>Stock:</strong> 14 unidades
    </li>
</ul>
{% endblock contenido %}
